[submodule "nodes/--force"]
	path = nodes/--force
	url = https://github.com/Rooholla-KhorramBakht/realsense-ros.git
	branch = ros1-legacy
[submodule "nodes/kiss-icp"]
	path = nodes/kiss-icp
	url = https://github.com/Rooholla-KhorramBakht/kiss-icp.git
[submodule "nodes/zed-ros-wrapper"]
	path = nodes/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "nodes/vision_opencv"]
	path = nodes/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
	branch = noetic
[submodule "nodes/realsense-ros"]
	path = nodes/realsense-ros
	url = https://github.com/Rooholla-KhorramBakht/realsense-ros.git
	branch = ros1-legacy
